$layout-content-xs: 420px;
$layout-content-sm: 720px;
$layout-content-md: 880px;
$layout-content-lg: 1120px;

$header-height-sm: 64px;
$header-height-md: 80px;
$header-height-lg: 96px;

$header-logo-size-mobile: 40px;
$header-logo-size-desktop: 48px;

$card-min-height-sm: 104px;
$card-min-height-md: 148px;
$card-min-height-lg: 180px;

$user-name-max-width-lg: 200px;
$user-name-max-width-md: 140px;
$user-name-max-width-xs: 92px;