.wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

/* ===== HEADER ===== */

.header {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  align-items: center;
}

.title {
  margin: 0;

  font-family: $font-family-display;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;

  color: $color-text-primary;
}

/* ===== SELECTOR ===== */

.selector {
  display: flex;
  gap: $space-xs;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.selector span {
  font-size: $font-size-body-xs;
  color: $color-text-secondary;
}

.selectorButton {
  padding: $space-2xs $space-sm;

  border-radius: $radius-sm;
  border: 1px solid rgba($color-border, 0.7);

  background: rgba($color-bg-elevated, 0.6);
  color: $color-text-secondary;

  font-size: $font-size-body-xs;

  cursor: pointer;
}

.active {
  background: rgba($color-accent-primary, 0.14);
  border-color: rgba($color-accent-primary, 0.4);
  color: $color-text-primary;
}

/* ===== FORM ===== */

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-sm;
  display: flex;
  flex-direction: column;
  background: rgba($color-bg-elevated, 0.5);
  padding: $space-sm;
  border-radius: $radius-md;
}

.matchMetadata, .match {
  display: flex;
  gap: $space-md;
  min-width: 0;
}

.match {
  width: 100%;
  flex-direction: column;
}

/* INPUTS */

.input {
  // width: 100%;
  flex: 1;
  min-width: 0;

  padding: $space-sm $space-md;
  font-family: $font-family-input;
  border-radius: $radius-sm;
  border: 1px solid $color-border;

  background: rgba($color-bg-elevated, 0.9);
  color: $color-text-primary;

  font-size: $font-size-body-sm;
}

.selectSmall {
  padding: 0 $space-xs;

  border-radius: $radius-sm;
  border: 1px solid rgba($color-border, 0.6);

  background: rgba($color-bg-elevated, 0.6);
  color: $color-text-primary;

  font-size: $font-size-body-sm;
}

/* BUTTON */

.primaryButton {
  width: fit-content;

  padding: $space-sm $space-md;

  border-radius: $radius-sm;
  border: 1px solid rgba($color-accent-primary, 0.5);

  background: rgba($color-accent-primary, 0.18);
  color: $color-text-primary;

  font-size: $font-size-body-sm;

  cursor: pointer;
}

/* ===== LOADING ===== */

.loading {
  padding: $space-xl;
  text-align: center;
  color: $color-text-muted;
}

/* ===== BREAKPOINTS ===== */

@include up(sm) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include up(md) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .selector {
    justify-content: flex-end;
  }

  .form {
    grid-template-columns: repeat(3, 1fr) auto;
  }

  .primaryButton:hover {
    background: rgba($color-accent-primary, 0.28);
  }

  .match {
    flex-direction: row;
  }
}