.dirtyDot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $color-warning;
    margin-left: 6px;
    vertical-align: middle;
    box-shadow: 0 0 4px $color-warning;
    cursor: pointer;
}