.wrapper {
  position: relative;
  width: $space-xl;
  height: $space-xl;
  flex-shrink: 0;
}

.hamburger {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  span {
    position: absolute;
    width: $space-lg;
    height: $space-2xs;
    border-radius: 999px;
    background: $color-text-primary;

    transition:
      background 0.2s ease,
      opacity 0.2s ease;
  }
}

.logo {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

@include up(sm) {
  .wrapper {
    width: $space-2xl;
    height: $space-2xl;
  }

  .hamburger {
    span {
      width: $space-xl;
    }
  }
}

@include up(md) {
  .wrapper:hover {
    .hamburger span {
      background: $color-accent-primary;
    }
  }
}