.layout {
  width: 100%;
  // min-height: 100svh;

  padding: $space-md;
}

/* ===== Container ===== */

.container {
  width: 100%;
  margin: 0 auto;
}

/* ===== Width variants ===== */

.xs {
  max-width: $layout-content-xs;
}

.sm {
  max-width: $layout-content-sm;
}

.md {
  max-width: $layout-content-md;
}

.lg {
  max-width: $layout-content-lg;
}

/* ===== Breakpoints ===== */

@include up(xs) {
  .layout {
    padding: $space-lg;
  }
}

@include up(md) {
  .layout {
    padding: $space-xl;
  }
}